<app-header titulo="Grid Row"></app-header>

<ion-content padding>

  <ion-grid fixed fullscreen>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let c of [1,1,1,1,1,1,1,1,1,1,1,1]">
        
        <ion-card>

          <ion-img src="/assets/shapes.svg"></ion-img>

          <ion-card-header>
            <ion-card-subtitle>Subtitle</ion-card-subtitle>
            <ion-card-title>Title</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos ullam, quod impedit alias tempora nisi architecto culpa consequuntur esse similique tempore et corrupti. Quisquam, id architecto? Ut quidem soluta saepe.
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
