<app-header titulo="Card"></app-header>

<ion-content>
  
  <ion-card mode="ios" color="primary">

    <ion-card-header>
      <ion-card-subtitle>Hola mundo</ion-card-subtitle>
      <ion-card-title>Desde IONIC</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, 
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">

    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    
    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et repellat praesentium libero at. Corporis amet incidunt voluptatum doloribus quo natus, iusto sed? Praesentium molestias officiis libero eum pariatur aliquam voluptatem.
    </ion-card-content>

  </ion-card>

  <ion-card mode="ios">
    <ion-card-header color="primary">
      <ion-card-subtitle color="light">Information</ion-card-subtitle>
    </ion-card-header>    
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur voluptate, odio dolorem facere aliquid, reprehenderit vitae magni, sed temporibus magnam commodi debitis! Id, nesciunt officiis. Aut dicta repudiandae sequi facilis?
    </ion-card-content>
  </ion-card>

</ion-content>
